<header class="mui-appbar mui--z1" style="background-color:#009688;">
<div class="mui-container">
  <table width="100%">
    <tr class="mui--appbar-height">
      <td class="mui--text-title">Klykov.io</td>
       <td align="right">
        <ul class="mui-list--inline mui--text-body2">
          <li style="margin-top:5px;"><button style="color:white; padding-top:3px;" name="exit" class="mui-btn mui-btn--flat mui-btn--accent" onclick="document.location.replace('?exit=1');" >Exit</button></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
</header>