/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
  background-color:#009688;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}


/**
 * Content CSS
 */
#content-wrapper {
 min-height: 100%;
  /* sticky footer */
  margin-bottom: -90px;
  padding-bottom: 100px;
  padding-top: 150px;
  padding-left: 33%;
}
form{
  width: 50%;
}

.imgIns{
  padding-top: 57px;
  padding-left: 87px;
}

input[type="file"]{
  margin-bottom: 7px;
}

/**
 * Footer CSS
 */
footer {
  height: 90px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}
.err{
  margin-left: 10px;
}